
// For reasons lost to the sands of time, the base font
// size of the U of G home page has always been 10px.
// As a result many global styles (including such things as
// the global header) use HUGE (relative) font sizes to make
// the text readable. To compensate we set the base size to
// the original 10px and adjust the base font size to 1.6rem
// to restore a more reasonable 16px base font size.

html { font-size: 10px; }
$font-size-base: 1.6rem;


// Color system

$red:     #c20430;   // U of G red
$yellow:  #ffc72a;   //   ""   yellow
$blue:    #69a3b9;   //   ""   blue
$primary: $red;
$info:    $blue;

// Bootstrap's color contrast function (color-yiq) utilizes the YIQ 
// color space to automatically return a light (#fff) or dark (#111) 
// contrast color based on the specified base color. If the color
// contrast of the background color exceeds a threshold then a dark
// foreground color is used. The default threshold (150) returns a 
// light foreground color for U of G blue which does not meet WCAG 
// color contrast requirements so we decrease the threshold a bit
// to get dark text on a blue background.

$yiq-contrasted-threshold: 122;


// Typography

$headings-color:    $red;
$hr-border-color:   $yellow;
$hr-border-width:   4px;


// Options

$enable-rounded:  false;


// Utilities

// Set max height of element to zero on touch devices.
// This depends on (no-)touchevents being set on the root (html) element.
.no-touchevents .mh-notouch-0 { max-height: 0 }


// Use Bootstrap

@import "../../node_modules/bootstrap/scss/bootstrap";

