
// For reasons lost to the sands of time, the base font
// size of the U of G home page has always been 10px.
// As a result many global styles (including such things as
// the global header) use HUGE (relative) font sizes to make
// the text readable. To compensate we set the base size to
// the original 10px and adjust the base font size to 1.6rem
// to restore a more reasonable 16px base font size.

html { font-size: 10px; }
$font-size-base: 1.6rem;


// Color system

$red:     #c20430;   // U of G red
$yellow:  #ffc72a;   //   ""   yellow
$blue:    #69a3b9;   //   ""   blue
$primary: $red;
$info:    $blue;

.bg-black-50 {
  background: rgba(0, 0, 0, 0.5);
}

// Bootstrap's color contrast function (color-yiq) utilizes the YIQ 
// color space to automatically return a light (#fff) or dark (#111) 
// contrast color based on the specified base color. If the color
// contrast of the background color exceeds a threshold then a dark
// foreground color is used. The default threshold (150) returns a 
// light foreground color for U of G blue which does not meet WCAG 
// color contrast requirements so we decrease the threshold a bit
// to get dark text on a blue background.

$yiq-contrasted-threshold: 122;


// Typography

$headings-color: $red;
$headings-font-weight: 600;
$hr-border-color: $yellow;
$hr-border-width: 4px;


// Fonts

$font-family-sans-serif: Roboto, Arial, sans-serif;


// Options

$enable-rounded:  false;
$enable-gradients: true;


// Buttons and forms

$input-btn-padding-y: .5625rem;
$input-btn-padding-x: 1.5rem;

$input-btn-padding-y-lg: .75rem;
$input-btn-padding-x-lg: 4rem;


// Grid containers

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1400px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1432px
);

@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/input-group";
@import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/jumbotron";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/media";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/print";

