
// For reasons now lost to the sands of time, the base font
// size of the U of G home page has always been 10px.
// As a result many global styles (including such things as
// the global header) use HUGE (relative) font sizes to make
// the text readable. To compensate we set the base size to
// the original 10px and adjust the base font size to 1.6rem
// to restore a more reasonable 16px base font size.

html { font-size: 10px; }
$font-size-base:    1.6rem;


// Color system

$red:     #c20430;
$yellow:  #ffc72a;
$blue:    #69a3b9;
$primary: $red;
$dark:    $red;


// Typography

$headings-color:    $red;
$hr-border-color:   $yellow;
$hr-border-width:   4px;


// Options

$enable-rounded:  false;


// Use Bootstrap

@import "../../node_modules/bootstrap/scss/bootstrap";

